.navbar {
	position: sticky;
	top: 0;
	z-index: 10;
	height: fit-content;
	&__logo {
		width: clamp(60px, 11svw, 100px);
		min-width: 60px;
		height: auto;
		margin-right: 10rem;
	}
	&__container {
		display: flex;
		justify-content: flex-end;
		height: fit-content;
		background-color: var(--color-secondary);
		color: var(--color-text);
		padding: 1rem 2rem;
		text-align: center;
	}
	&__menu {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;

		& > .active li {
			background-color: var(--color-primary);
			color: var(--color-text);
		}
		&-button {
			display: flex;
			flex-direction: column;
			// margin: 1rem;
			cursor: pointer;
			fill: var(--color-heading);
			padding: 0.25rem 0.5rem;
			// border: 1px solid var(--color-text);
			border-radius: 0.5rem;
			// background-color: var(--color-background);
			&:hover {
				background-color: var(--color-primary);
			}

			svg {
				height: 1rem;
				width: auto;
			}
		}
	}
	&__hamburger-menu {
		display: none;
		position: relative;
		flex-direction: column;
		width: 40px;
		height: 100%;
		margin: auto 0;
		cursor: pointer;
		&-icon {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			background: none;
			border: none;
			&-bar {
				width: 100%;
				height: 5px;
				border-radius: 0.5rem;
				margin: 0.25rem 0;
				background-color: var(--color-heading);
			}
		}
		&-list {
			list-style: none;
			padding: 0;
			margin: 0;
			display: none;
			&.open {
				display: flex;
			}
		}
	}
}
@media (max-width: 768px) {
	.navbar {
		&__container {
			justify-content: space-between;
		}
		&__menu {
			display: none;
		}
		&__hamburger-menu {
			display: flex;
		}
	}
}
