$primary-color: #fff;
$link-color: white;
$link-hover-color: red;

.footer {
	background-color: #006400;
	display: flex;
	bottom: 0;
	color: $primary-color;
	padding-bottom: 0.5rem;
	text-align: center;
	position: relative;
	width: 100%;

	&__container {
		height: fit-content;
		margin: auto;
	}
	&__reference-section,
	&__policy {
		display: flex;
		margin-top: 1rem;
	}
	&__link {
		font-weight: 300;
		font-size: 0.85rem;
		color: $link-color;
		text-decoration: none;
		margin-bottom: 0.4rem;
		cursor: pointer;

		&:hover {
			text-decoration: none;
			color: $link-hover-color;
		}
	}

	&__reference {
		&-section {
			margin-top: 0.5rem;
			text-align: left;
		}
		&-category {
			flex: 1;
			float: left;
			position: relative;
			margin: 0 0.5rem;
			&-title {
				font-weight: bold;
				margin-bottom: 0.25rem;
				&_split-line {
					max-width: 90%;
					position: relative;
					border: none;
					border-top: 1px solid $primary-color;
				}
			}
		}
	}

	&__policy {
		display: flex;
		// margin-top: 0.8rem;

		.footer__link {
			font-size: 0.85rem;
			color: $link-color;
			text-decoration: none;
			margin: auto 0.7rem;
			cursor: pointer;

			&:hover {
				text-decoration: none;
				color: $link-hover-color;
			}
		}
	}

	&__copyright-notice {
		display: flex;
		align-items: center;
		margin-top: 0.5rem;

		&_text {
			flex: auto;
			align-items: center;
			// margin: 0 1rem;
			font-style: italic;
			font-size: 0.7rem;
		}

		&_split-line {
			max-width: 90%;
			width: 30%;
			position: relative;
			border: none;
			border-top: 1px solid $primary-color;
		}
	}
}
