$primary-color: #fff;
$link-color: white;
$link-hover-color: pink;

.footer {
	background-color: #006400;
	color: $primary-color;
	padding: 20px;
	text-align: center;
	position: relative;

	.footer__container {
		width: fit-content;
		margin: 0 0;

		.footer__reference-section,
		.footer__policy {
			display: flex;
			margin-top: 20px;

			.footer__link {
				font-weight: 400;
				color: $link-color;
				text-decoration: none;
				margin-bottom: 5px;
				cursor: pointer;

				&:hover {
					text-decoration: none;
					color: $link-hover-color;
				}
			}
		}

		.footer__reference-section {
			justify-content: space-between;
			text-align: left;

			&-category {
				flex: 1;
				float: left;

				&-title {
					font-weight: bold;
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
		}

		.footer__policy {
			display: flex;
			justify-content: center;
			margin-top: 10px;

			.footer__link {
				font-size: 14px;
				color: $link-color;
				text-decoration: none;
				margin: 0 10px;
				cursor: pointer;

				&:hover {
					text-decoration: none;
					color: $link-hover-color;
				}
			}
		}

		.footer__copyright-notice {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 20px;
			padding-bottom: 10px;

			&_text {
				flex: auto;
				align-items: center;
				margin: 0 20px;
				font-style: italic;
				font-size: 12px;

				&_copyright-message {
					display: inline-block;
					width: fit-content;
				}
			}

			&-split-line {
				//flex: 1;
				width: auto;
				position: relative;

				hr {
					border: none;
					border-top: 1px solid $primary-color;
					width: 100%;
				}
			}
		}
	}
}
